mat-tab-group, iframe {
  width: 100%;
  height: auto;
}

.parent {
  display: flex;
  flex-direction: row;
}
.summary {
  flex: 1;
  margin-right: 10px;
}

.charts {
  flex: 1;
  margin-left: 10px;
}

.myGridList {
  height: 100%;
}

.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

iframe{ 
  width: 100%; 
  height: 280px; 
  overflow-x: hidden; 
  overflow-y: scroll;
}

.summary{
  height: 500px;
}
