mat-tab-group, iframe {
  width: 100%;
  height: auto;
}

.parent {
  display: flex;
  flex-direction: row;
}
.summary {
  flex: 1;
  margin-right: 10px;
}

.charts {
  flex: 1;
  margin-left: 10px;
}

.myGridList {
  height: 100%;
}

.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
