mat-tab-group, iframe {
  width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.accordionSummary {
  flex: 1;
  margin-right: 10px;
}

.accordionCharts {
  flex: 1;
  margin-left: 10px;
}
